* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
  background-color: #fff;

}

.ppm_container {
  width: 300px;
  height: 250px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.ppm_check {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .5;
  height: 250px;
  width: 300px;
}


/* ppm_slide_1 */
.ppm_bg {
  top: 0px;
  left: 0px;
}

.full_takeover{
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/news.jpg');
  /* background: teal; */
  background-size: cover;
}

.darazBoxContainer{
  position: absolute;
  bottom: 0vh;
  width: 100vw;
}

.ppm_gift{
  position: absolute;
  height: 100px;
  bottom: 5vh;
}
.ppm_gift1{left: 25vw;}
.ppm_gift2{left: 40vw;}
.ppm_gift3{left: 55vw;}
.ppm_gift4{left: 70vw;}

.ppm_gift5{left: 22vw;}
.ppm_gift6{left: 38vw;}
.ppm_gift7{left: 52vw;}
.ppm_gift8{left: 68vw;}

.ppm_gift9{left: 26vw;}
.ppm_gift10{left: 35vw;}
.ppm_gift11{left: 55vw;}
.ppm_gift12{left: 72vw;}

.ppm_gift13{left: 21vw;}
.ppm_gift14{left: 32vw;}
.ppm_gift15{left: 50vw;}
.ppm_gift16{left: 68vw;}

.ppm_gift17{left: 27vw;}
.ppm_gift18{left: 40vw;}
.ppm_gift19{left: 56vw;}
.ppm_gift20{left: 71vw;}

.ppm_layer1,.ppm_layer2,.ppm_layer3,.ppm_layer4,.ppm_layer5,.ppm_layer6{
  position: absolute;
  bottom: 0vh;
  width: 100%;
}
.ppm_last_slide{
  height: 50vh;
  bottom: 25vh;
}
.modelWithBOx{
  bottom: -1vh;
  width: 16vw;
}
.ppm_model{
  width: 100%;
  bottom: 0vh;
  left: .2vw;
}
.ppm_box{
  z-index: 99;
  width: 75%;
  bottom: 3vh;
  left: 0.2vw;
}

/* Utility class */
.ppm_absolute {
  position: absolute;
}

.ppm_hidden {
  display: none;
}

.ppm_zeroOpacity {
  opacity: 0;
}

.error {
  outline: 2px solid red !important;
}

.success {
  outline: 2px solid rgb(9, 148, 39) !important;
}