:root {
  --cross-btn-top:32dvh;
  --cross-btn-right:0;
  --container-width:270px;
  --containerM-width:270px;
}

@media (min-width: 601px) {
  :root {
    --container-width:340px;
    --containerM-width:450px;
  }

}

.ppm_container{
  /* background: #ff000066; */
  bottom: 15dvh;
  position: fixed;
  right: 1%;
  width: var(--container-width);
  aspect-ratio: 20/32;
}
.ppm_containerFirst{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  width: var(--containerM-width);
  /* aspect-ratio: 20/38; */
  background: #f00;
}
.ppm_product1{
  width: 50%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}
.ppm_product2{
  width: 60%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
@media (min-width: 601px) {
  .ppm_container{
    bottom: 15dvh;
  }
}


.ppm_product_mini1,.ppm_product_mini2,.ppm_text_1,.ppm_text_2,.ppm_text_3,.ppm_video_shape{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: none;
  opacity: 0;
}
.ppm_product_mini1{
  width: 40%;
  bottom: 40%;
  left: 30%;
}
.ppm_product_mini2{
  width: 45%;
  bottom: 40%;
  left: 65%;
}
.ppm_text_1{
  width: 75%;
  bottom: 80%;
}
.ppm_text_2{
  width: 65%;
  bottom: 65%;
}

.ppm_video_shape{
  width: 85%;
  bottom: 5%;
  aspect-ratio: 289/166;
}
.ppm_shape{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.ppm_closeBtn_takeover {
  z-index: 9999;
  position:absolute;
  right: 5%;
  top: 0;
  width: 22px;
}



.ppm_absolute {
  position: absolute;
}

.ppm_hidden {
  display: none;
}

.ppm_zeroOpacity {
  opacity: 0;
}

#ppm_video {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 9;
  display: none;
  opacity: 0;
}

.ppm_video-controls {
  bottom: 5%;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  left: 0;
  z-index: 99;
  width: 96%;
}

.ppm_sound {
  float: right;
  background: 0 0;
  color: #A3238E;
  border: none;
  outline: 0;
}

.ppm_toggle {
  background: 0 0;
  color: #A3238E;
  border: none;
  outline: 0;
}
.material-icons{
  border: 2px solid #A3238E;
  border-radius: 50%;
  background: white;
}