.hidden{
    display: none;
}
.abs{
    position: absolute;
}
body{
    background-color: rgb(255, 255, 255);
    background: url('../images/bg_new.jpg') no-repeat;
   
}
.wrapper{
    position: relative;
}

.daraz3{
    width: 90vw;
    height: 90vh;
    left: 353px;
    top: 172px;
}

.cross{
    /* left: 2074px; */
    left: 2336px;
    top: 5px;
    position: fixed;
}

.fadeOut{
    animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 