:root {
  --cross-btn-top: 32dvh;
  --cross-btn-right: 0;
  --container-width: 270px;
}

@media (min-width: 601px) and (min-height: 750px) {
  :root {
    --container-width: 340px;
  }

}

.ppm_container {
  /* background: #ff000066; */
  bottom: 8dvh;
  position: fixed;
  right: 1%;
  width: var(--container-width);
  aspect-ratio: 20/38;
}

@media (min-width: 601px) {
  .ppm_container {
    bottom: 10dvh;
  }
}



.ppm_product,
.ppm_text_1,
.ppm_text_2,
.ppm_text_3,
.ppm_video_shape {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: none;
  opacity: 0;
}

.ppm_product {
  width: 100%;
  bottom: 30%;
  aspect-ratio: 357/349;
  /* background-color: #ff000055; */
}
.ppm_round{
  position: absolute;
  bottom: -2.5%;
  left: -1%;
  width: 102%;
  position: absolute;
  aspect-ratio: 1 / 1;
}
.ppm_world{
  position: absolute;
  width: 71%;
  top: 52%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.ppm_model{
  position: absolute;
  width: 71%;
  top: 10%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.ppm_breaking{
  position: absolute;
  width: 90%;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ppm_breaking_text{
  position: absolute;
  aspect-ratio: 268 / 30;
  /* height: 30px; */
  width: 79%;
  top: 63%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
.ppm_breaking_text2{
  position: absolute;
  aspect-ratio: 268 / 30;
  /* height: 30px; */
  width: 79%;
  top: 63%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.ppm_text_1 {
  width: 80%;
  bottom: 6%;
}

.ppm_text_2 {
  width: 78%;
  bottom: 6%;
  display: none;
}

.ppm_text_3 {
  width: 55%;
  bottom: 66%;
}

.ppm_video_shape {
  width: 85%;
  bottom: 45%;
  aspect-ratio: 289/166;
}

.ppm_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.ppm_closeBtn_takeover {
  z-index: 9999;
  position: absolute;
  right: 2%;
  top: 5%;
  width: 26px;
}

.ppm_logo_linear {
  z-index: 9999;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 18px;
}


.ppm_absolute {
  position: absolute;
}

.ppm_hidden {
  display: none;
}

.ppm_zeroOpacity {
  opacity: 0;
}

#ppm_video {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 15px;
}

.ppm_video-controls {
  bottom: 5%;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  left: 0;
  z-index: 99;
  width: 96%;
}

.ppm_sound {
  float: right;
  background: 0 0;
  color: #ff0000;
  border: none;
  outline: 0;
}

.ppm_toggle {
  background: 0 0;
  color: #ff0000;
  border: none;
  outline: 0;
}

.material-icons {
  border: 2px solid #ff0000;
  border-radius: 50%;
  background: white;
  font-size: 20px;
}

.ppm_flying_elms {
  position: absolute;
  bottom: 15%;
  width: 100%;
}

.singleElm {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 15%;
}

.ppm_flying_elms {
  display: none;
}

.ppm_oil_elm {
  width: 10%;
}


.ppm_marque_text {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-weight: 800;
  height: 100%;
}

.ppm_marque_text_inner {
  height: 100%;
  display: inline-block;
  animation: marquee 28s linear infinite;
  color: #0000FF;
  line-height: 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ppm_marque_text2 {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-weight: 800;
}

.ppm_marque_text_inner2 {
  height: 100%;
  display: inline-block;
  animation: marquee2 7s linear infinite;
  color: #0000FF;
  line-height: 30px;
}

@keyframes marquee2 {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-100%);
  }
}