* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ppm_container {
    width: 300px;
    height: 250px;
    /* background-color: #f005; */
    position: relative;
    margin: 0 auto;
}

.ppm_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ppm_logo {
    width: 12%;
    position: absolute;
    top: 3%;
    left: 3%;
    display: none;
}

.ppm_cta {
    width: 22%;
    position: absolute;
    bottom: 2%;
    right: 5%;
    display: none;
    cursor: pointer;
}

.ppm_text2 {
    width: 67%;
    position: absolute;
    bottom: 6%;
    right: 12%;
    display: none;
}



.ppm_innerContainer {
    width: 290px;
    height: 240px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
}

.ppm_windowContainer {
    width: 50%;
    aspect-ratio: 295/272;
    position: absolute;
    left: 25%;
    top: 23%;
    transform: skew(10deg, -6deg);
    display: none;
}

.ppm_window {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ppm_windowRight {
    width: 59%;
    position: absolute;
    top: 2%;
    right: -2%;
    transform-origin: 84% 0%;

}

.ppm_windowLeft {
    width: 57%;
    position: absolute;
    top: 3%;
    left: 0%;
    /* transform: rotateY(170deg); */
    transform-origin: 12% 0%;
}


.ppm_text{
    width: 70%;
    position: absolute;
    top: 22%;
    left: 15%;
}






/* Border Neon Effect */
.card {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #5cadfa, #00C7FF, #38f5fc, #78cbf1, #47b7eb, #00C7FF, #ffffff, #8ccfdb, #73abf5);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    animation: 3s spin linear infinite;
    -webkit-animation: 3s spin linear infinite;
    backface-visibility: hidden;
}

.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}