
.ppm_container {
  /* background: #ff000066; */
  position: fixed;
  right: 1%;
  bottom: 0;
  width: 180px;
  /* height: 100dvh; */
  aspect-ratio: 180/550;
  overflow: hidden;
  display: none;
}
.ppm_closeBtn_takeover {
  z-index: 9999;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 24px;
}

.ppm_logo_linear {
  z-index: 9999;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 16px;
}
.swiper-button-prev {
  left: -5px !important;
  --swiper-navigation-size: 26px !important;
  scale: 0.5; /* Reduce size to 70% - adjust value as needed */
  color: #D5357E;
  font-weight: 900;
}
.swiper-button-next{
  right: -5px !important;
  --swiper-navigation-size: 26px !important;
  scale: 0.5; /* Reduce size to 70% - adjust value as needed */
  color: #D5357E;
  font-weight: 900;
}
@media (min-width: 601px) and (min-height: 750px) {
  .ppm_container {
    width: 250px;
  }
  .swiper-button-prev {
    left: 0px !important;
    --swiper-navigation-size: 26px !important;
    scale: 0.7; /* Reduce size to 70% - adjust value as needed */
    color: #D5357E;
    font-weight: 900;
  }
  .swiper-button-next{
    right: 0px !important;
    --swiper-navigation-size: 26px !important;
    scale: 0.7; /* Reduce size to 70% - adjust value as needed */
    color: #D5357E;
    font-weight: 900;
  }
}

.ppm_ball_container {
  position: absolute;
  right: 0%;
  bottom: 30%;
  width: 100%;
  aspect-ratio: 1/1;
  display: none;
}
.ppm_ball_1 {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
}
.ppm_mnimonic1 {
  position: absolute;
  right: 10%;
  bottom: 32%;
  width: 76%;
}
.ppm_mnimonic2 {
  position: absolute;
  right: 13%;
  bottom: 14%;
  width: 74%;
  display: none;
}
.ppm_mnimonic3 {
  position: absolute;
  right: 19%;
  bottom: 24%;
  width: 62%;
  display: none;
}

.ppm_swiper{
  width: 95%;
  height: 95%;
}
.ppm_swiper_container{
  position: absolute;
  width: 60%;
  /* background-color: #00ffff66; */
  bottom: -28%;
  left: 21%;
  aspect-ratio: 190/170;
  display: none;
}


.ppm_brand{
  height: 100%;
  width: 70%;
  position: relative;
  left: 15%;
  object-fit: contain;
}