*{
    margin: 0;
    padding: 0;
}

.ppa_abs{
    position: absolute;
}
.ppa_hidden{
    display: none;
}
.ppa_wrapper{
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img1{
    background: url('../images/bakara.jpg');
    width: 300px;
    height: 250px;
}
.img2{
    background: url('../images/fatiha.jpg');
    width: 300px;
    height: 250px;
}
.img3{
    background: url('../images/imran.jpg');
    width: 300px;
    height: 250px;
}
.img4{
    background: url('../images/nisa.jpg');
    width: 300px;
    height: 250px;
}
.img5{
    background: url('../images/last.png');
    width: 300px;
    height: 250px;
}
.hand{
    background: url('../images/hand.png');
    width: 43px;
    height: 31px;
    left: 219px;
    top: 179px;
    animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(1.1); 
    }
}

.left_i{
    background: url('../images/left.png');
    width: 9px;
    height: 11px;
    left: 100px;
    top: 150px;
}
.play_i{
    background: url('../images/play_pause.png');
    width: 31px;
    height: 31px;
    left: 136px;
    top: 142px;
}

.pause_i{
    background: url('../images/play.png');
    width: 31px;
    height: 31px;
    left: 136px;
    top: 142px;
}
.right_i{
    background: url('../images/right.png');
    width: 9px;
    height: 11px;
    left: 194px;
    top: 150px;
}

.swipe_left_animation {
    animation: slideLeftAnimation 0.5s ease forwards;
}

@keyframes slideLeftAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.swipe_right_animation {
    animation: slideRightAnimation 0.5s ease forwards;
}

@keyframes slideRightAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

