* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}


.ppm_upper_box {
  position: fixed;
  bottom: 50dvh;
  right: -30px;
  display: none;
}

.ppm_lower_box {
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}

.ppm_upper_image {
  height: 270px;
}
.ppm_copy1{
  position: absolute;
  top: -50px;
  right: 0;
  width: 80%;
  display: none;
}
.ppm_closeBtn_floating{
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 99999999;
  width: 24px;
}
#ppm_video {
  width: 200px;
  left: 0;
  position: relative;
}

.ppm_video-controls {
  top: -35px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.ppm_sound {
  float: right;
  background: 0 0;
  color: #fff;
  border: none;
  outline: 0;
}

.ppm_toggle {
  background: 0 0;
  color: #fff;
  border: none;
  outline: 0;
}

/* Utility class */
.ppm_absolute {
  position: absolute;
}

.ppm_hidden {
  display: none;
}

.ppm_zeroOpacity {
  opacity: 0;
}

.error {
  outline: 2px solid red !important;
}

.success {
  outline: 2px solid rgb(9, 148, 39) !important;
}