.ppm_container {
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    /* background: #0009; */
    overflow: hidden;
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;
}

.ppm_closeBtn_takeover {
    z-index: 9999;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 24px;
}

.ppm_logo_linear {
    z-index: 9999;
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 16px;
}

.ppm_container_inner {
    /* background: #ff000066; */
    top: 0;
    /* position: absolute; */
    position: relative;
    right: 0;
    width: 100dvw;
    aspect-ratio: 1/1.75;
    overflow: hidden;
}

@media (min-width: 601px) {
    .ppm_container_inner {
        aspect-ratio: 2.1/1;
    }
}

.ppm_ball_1 {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%); */
    transform-origin: center center;
    display: none;
}
.ppm_ball_2 {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    display: none;
}
.ppm_ball_3 {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    display: none;
}
.ppm_ball_1,.ppm_ball_2,.ppm_ball_3{
    width: 80%;
}

.ppm_brokenGlass {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-image: url(../images/glass2.png);
    background-size: cover;
    background-position: center;
}


@media (min-width: 601px) {
    .ppm_ball_1,.ppm_ball_2,.ppm_ball_3{
        width: 30%;
    }
    .ppm_brokenGlass {
        background: url(../images/glass.png);
        background-size: cover;
        background-position: center;
    }
}