/* JadeWits Technologies Print Related CSS */

body{
	background:#fff;
	margin:20px 40px;
	width:auto;
	min-width:inherit;
	max-width:inherit;
	padding-top:0px;
	}
	
.whole_wrapper,.whole_inner{
	box-shadow:none;
	border:none;
	width:auto;
	padding:0;
	}
.head-logo .site_logo{
	/*padding-left:0px;*/
	}

.site-head{
	margin:0;
	}


	
.print_now_button{
	background:#9Fc;
	color:#000;
	font-size:14px;
	font-weight:bold;
	position:fixed;
	right:20px;
	top:20px;
	padding:5px 10px;
	border:1px solid #ddd;
	border-radius:5px; 
	box-shadow:0px 0px 10px 0px  #ddd;
	}

.p, .p_a, .p_a_a, .p_a_p, .p_b, .p_c, .p_c_c_a, .p_d, .p_d_a, .p_d_a_a, .p_d_a_p, .p_d_b, .p_d_c, .p_d_d, .p_d_d_a, .p_d_d_p, .p_d_p, .p_p,
.content_detail .left_category,
.content_detail .right_title,
.content_detail .detail_holder .left_part,
.content_detail .detail_holder .right_part,
.col_in,
.special_35_65 > .inner > .p_d_c, .special_35_65 > .inner > .p_c,
.special_35_65 > .inner > .p_d_d, .special_35_65 > .inner > .p_d,
.special_20_80 > .inner > .p_d_c, .special_20_80 > .inner > .p_c,
.special_20_80 > .inner > .p_d_d, .special_20_80 > .inner > .p_d,
.special_32_5_67_5 > .inner > .p_d_c, .special_32_5_67_5 > .inner > .p_c,
.special_32_5_67_5 > .inner > .p_d_d, .special_32_5_67_5 > .inner > .p_d
{
	float:none;
	display:block;
	width:auto;
	clear:both;
	min-width:inherit;
	max-width:inherit;
	width:100% !important;
	}
	
.foot-info-portion,
.copyright-portion,
.foot-bottom-container,
.content_detail_left
{
	width:auto;
	height:auto;
	}
.foot-bottom-container{
	background:none;
	}
	
.foot-bottom-container{ text-align:center; }

.content_detail .additional_info_container .time{
	border-bottom:0 none;
	padding-bottom:0px;
	margin-bottom:0px;
	}
.p > .inner{
	margin-right:0px;
	}
.content_detail .additional_info_container .author{
	line-height:40px;
	}
.content_detail .additional_info_container .author .pro_pic{
	float:left;
	margin-right:10px;
	}
.content_detail .additional_info_container .author .pro_pic img{
	height:40px;
	float:left;
	}
.content_detail .additional_info_container .author .name{
	line-height:40px;
	}
.content_detail .additional_info_container .each_row{
	overflow:hidden;
	}
.copyright-portion,
.foot-info-portion
{
	padding:20px;
	float:right;
	text-align:right;
	display:inline-block;
	padding:0;
	}
	
.header_wrap{
	position:relative;
	z-index:0;
	}
	
.head-top,
.main_menu,
.breadcrumb,
.detail_bottom_social,
.top_comment_count_and_social,
.media_tags_holder,
.detail_page .additional_info_container,
.comments_widget,
.widget,
.headbar,
.footbar,
.foot-bottom-shade,
.sub_menu,
.footer_menu,
.date-search-cont,
.foot-separator,
.foot-logo,
.headerAd,
.site-footer,
.comment_count_and_social,
.content_tags, 
.secondary_header,
.header_ad_block,
.advertisement,
.foot-top-container,
.foot-middle-container,
.more_and_tag,
.additional_bottom_container,
.content_detail .left_category .category_name,
.header_right_part,
.footer_bottom_menu,
.header_left_top,
.header_right_top,
.footer_top,
.news_divider,
.content_detail_right,
.widget_color_red_grad,
.date_holder,
.header_wrap,
.content_detail_each_group
{
	display:none;
	}

.detail_widget2 .content_detail_each_group:first-child{
	display: block;
}
.do_not_print,
.back_to_top,
.pop-each .photo a.pop-active::after, 
a.jw_media_holder.pop-active::after{
	display:none !important;
	}
.widget{
	margin:0;
	padding:0;
	}
.detail_widget,.detail_page,.detail_widget2{
	display:block;
	}

.foot_wrap_bg{
	background:#fff !important;
	border-top:1px solid #ccc;
	}
.foot-bottom-container .foot-bottom{
	color:#aaa;
	padding:20px;
	}

.header_wrap{
	box-shadow: none !important;
	background: transparent;
}